doctype 
html
	head
		title 
		link(rel="stylesheet" href="main.css" type="text/css")
		link(href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet")
	body
		header#header
			nav#nav
				ul
					li.options 
						a(href="/") about me 
					li.options
						a(href="/portfolio") portfolio 
					li.options
						a(href="/blogs") blogs 
					li.options
						a(href="/#") contact 