doctype 
html
	head
		title 
		link(rel="stylesheet" href="main.css" type="text/css")
		link(href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet")
	body
		header.header
			nav.nav
				ul
					li
						a(href="/aboutme") about me 
					li
						a(href="/portfolio") portfolio 
					li
						a(href="/blogs") blogs 
					li
						a(href="/contact") contact 

	 
		h4 Below you can find different applications and projects I have worked on. 

		div#businesswebsiteone
			img.pics(src="bwfrontpage.png")
			img.pics(src="bwfrontpage2.png")

		div#businesswebsitetwo
			img.pics(src="bwfrontpage3.png")
			img.pics(src="bwaboutpage.png")

		div#businesswebsitethree
			img.pics(src="bwbookpage.png")
			img.pics(src="bwcontactpage.png")
