doctype 
html
	head
		title 
		link(rel="stylesheet" href="main.css" type="text/css")
		link(href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet")
	body
		header.header
			nav.nav
				ul
					li
						a(href="/") about me 
					li
						a(href="/#") portfolio 
					li
						a(href="/blogs") blogs 
					li
						a(href="/contact") contact 

		div
			h1#porttitle1 Example Business Website 

		div#businesswebsiteone
			img.pics(src="bwfrontpage.png")
			img.pics(src="bwfrontpage2.png")

		div#businesswebsitetwo
			img.pics(src="bwfrontpage3.png")
			img.pics(src="bwaboutpage.png")

		div#businesswebsitethree
			img.pics(src="bwbookpage.png")
			img.pics(src="bwcontactpage.png")

		div#info
			p This project primarily concerned HTML, CSS, and jQuery. This display more of my front-end skills rather than back-end. The first two images are the front-page, and how the background image was parallax. The website contained an about section, booking page, and contact page. In the about page, jQuery was used on the titles "massages" and "facials" change colour from black to amber-gold when hovered over, and when clicked upon display or hide information. In the booking page, the image is a slide-show of images that are set on a timer to change. 
