doctype 
html
	head
		title 
		link(rel="stylesheet" href="main.css" type="text/css")
		link(href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet")
	body
		header.header
			navbar.navbar
				ul
					li.name <<strong>sophie</strong>vanwersch > web developer
					li
						a(href="/contact") contact 
					li
						a(href="/blogs") blogs 
					li
						a(href="/portfolio") portfolio 
					li
						a(href="/aboutme") about me 

		br
		br
		h1 
		h4 Below you can find different applications and projects I have worked on. 
	
